::placeholder
    color: #ffffff
    opacity: 1
body
    margin: 0px
.header
    min-height: 104px
    background: url(../img/header-bg.png) center center/cover no-repeat
    position: relative
    &_line
        background-color: $light_blue
        height: 4px
    &_support        
        background-color: $light_blue
        height: 20px
        width: 100px
        position: absolute
        top: 4px
        right: 93px
        border-bottom-left-radius: 5%
        border-bottom-right-radius: 5%
        a
            text-decoration: none
        &_img
            float: left
            object-fit: none
            object-position: 0 0 
            width: 16px
            height: 16px
            margin: 1px 15px 6px 8px
        &_text
            font-family: 'Roboto Regular'
            color: #fff
            font-size: 12px
            margin-top: 3px
            text-decoration: none
    &_title
        display: flex
        color: #fff
        width: 304px
        justify-content: space-between
        margin-top: 27px
        margin-left: 72px
        font-size: 18px
        &_1
            font-family: 'Bentham'
    &_divider
        height: 1px
        background-color: #28466a

.nav
    height: 60px
    background-color: $dark_blue
    position: relative    
    &_menu
        display: flex
        width: 460px
        justify-content: space-between
        color: #98bcc8
        font-size: 18px
        margin-left: 72px
        padding-top: 18px
        &_item
            font-family: 'Roboto Regular'
            &_active
                color: #fff
            &:hover
                cursor: pointer
    &_search
        position: absolute
        width: 320px
        height: 40px
        right: 15px
        top: 7px
        background-color: #061f3e
        color: #ffffff
        border-radius: 5px
        border: 1px solid #425d8c
        background: url(../icons/search-btn.png) no-repeat
        background-color: #061f3e
        background-position: 10px
        padding-left: 40px
        font-family: 'Roboto Regular'